body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(100deg,rgba(0,0,0,.5),rgba(0,0,0,.5)),url(https://giffiles.alphacoders.com/118/118767.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  body {
    background-image: linear-gradient(100deg,rgba(0,0,0,.5),rgba(0,0,0,.5)) url(https://media.tenor.com/GAnTP0EpHxkAAAAd/rick-and-morty.gif);
    background-repeat: no-repeat;
    background-size: cover;


  }
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
