.cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    padding: 2rem;
    /* background-color: #236969; */
    background-color: none;
    max-width: 100rem;
    
}